@model Montagem_de_Curriculo.Models.Curriculo

@{
    ViewData["Title"] = "Currículo " + Model.Nome;
}

<div>
    <ul class="collection with-header">
        <li class="colllection-header">
            <h5 style="padding-left: 20px;">
                Objetivos 
                <a asp-action="Create" asp-controller="Objetivos" asp-route-id="@Model.CurriculoId" class="btn btn-floating btn-small blue darken-4">
                    <i class="material-icons">add</i>
                </a>
            </h5>
        </li>
        <!--Chama a ViewComponent da Sessão-->
        @await Component.InvokeAsync("Objetivos", Model.CurriculoId)
    </ul>
</div>